@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

body {
  background-color: #1D1F21;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #C5C8C6;
  color: black;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0px;
  min-height: 10vh;
  width: 100vw;
}

header > h1 {
  font-size: 3vh;
  text-decoration: underline;
  font-weight: bolder;
  margin-left: 3vw;
}

footer {
  color: black;
  background-color: #C5C8C6;
  display: flex;
  align-items: center;
  bottom: 0px;
  min-height: 5vh;
}

footer > h1 {
  font-size: 2vh;
  font-weight: bolder;
  margin-left: 3vw;
}

footer > h1 > a {
  text-decoration: none;
  color: inherit;
  transition-duration: .2s;
}

footer > h1 > a:hover {
  color: #23669D;
}

body {
  height: 100vh;
  color: white;
}

#disclaimer {
  padding-top: 16vh;
  padding-bottom: 6vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

#disclaimer > h1 {
  font-size: 5vh;
  margin-bottom: 1vh;
}

#disclaimer > h2 {
  font-size: 3vh;
  margin: 1vh;
}

#disclaimer > h3 {
  font-size: 3vh;
  margin: 1vh;
}

#disclaimer > * > strong {
  font-weight: bold;
}

#disclaimer > * > a {
  text-decoration: none;
  color: inherit;
  transition-duration: .2s;
}

#disclaimer > * > a:hover {
  color: #23669D;
}
