@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #0AB365; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #0AB365; /* Gecko Browsers */
}

nav {
  width: 13vw;
  height: 100vh;
  position: fixed;
  background-color: #81A2BE;
  padding-top: 10vh;

  left: 0px;
  top: 0px;
}

nav > a {
  display: flex;
  align-items: center;
  height: 6vh;
  padding: 1vw;
  transition-duration: .7s;
  text-decoration: none;
  font-size: 2.5vh;
  color: inherit;
}

nav > a:hover {
  background-color: #547C9D;
  cursor: pointer;
  border-left: .5vw solid #0E5C9D;
}

nav > a > i {
  transition-duration: 1s;
}

nav > a:hover > i {
  transform: rotateZ(360deg);
}

nav > div > a {
  display: flex;
  align-items: center;
  height: 4vh;
  padding: 1vw;
  transition-duration: .7s;
  text-decoration: none;
  font-size: 2vh;
  color: inherit;
  border-left: .5vw solid #0E5C9D;
}

nav > div > a:hover {
  background-color: #547C9D;
  cursor: pointer;
  border-left: 1vw solid #0E5C9D;
}

nav > div > a > i {
  transition-duration: 1s;
}

nav > div > a:hover > i {
  transform: rotateZ(360deg);
}

.opened {
  max-height: none;
}

nav > .top_corner {
  width: 13vw;
  height: 6vh;
  background-color: #5D809D;
  position: fixed;
  left: 0px;
  top: 0px;
}

.mc_col {
  transition-duration: .5s;
}

.collapsed {
  display: none;
}

nav > .bottom_corner {
  width: 13vw;
  height: 6vh;
  background-color: #5D809D;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

header {
  background-color: #547C9D;
  position: fixed;
  top: 0px;
  left: 13vw;
  width: 87vw;
  display: flex;
  align-items: center;
  height: 6vh;
}

header > h1 {
  font-size: 3vh;
  font-weight: bolder;
  margin-left: 1vw;
}

header > h1 > a {
  text-decoration: none;
  color: inherit;
  transition-duration: .2s;
}

header > h1 > a:hover {
color: #C5C8C6;
}

footer {
  background-color: #547C9D;
  position: fixed;
  bottom: 0px;
  left: 13vw;
  width: 87vw;
  display: flex;
  align-items: center;
  height: 6vh;
}

footer > h1 {
  font-size: 2vh;
  font-weight: bolder;
  margin-left: 3vw;
}

footer > h1 > a {
  text-decoration: none;
  color: inherit;
  transition-duration: .2s;
}

footer > h1 > a:hover {
  color: #C5C8C6;
}

body {
  font-family: 'Roboto', sans-serif;
}

.info_box_button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.info_box_button > a {
  text-decoration: none;
}

#content {
  min-width: 13vw;
  min-height: 88vh;
  margin-left: 13vw;
  margin-top: 6vh;
}
